<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-responsive.min.css">
    <script src="../../js/jquery-1.8.3.min.js"></script>
</head>
<body>

</body>
    <table class="table table-striped">
        <tr>
            <th>序号</th><th>手机号</th><th>姓名</th><th>推荐人</th><th>推荐人手机号</th><th>注册时间</th>
        </tr>
        <tr th:each="register:${registers}">
            <td></td>
            <td th:text="${register.phone}">324354546546</td>
            <td th:text="${register.name}">徐军晒</td>
            <td th:text="${register.intro_name}">鄂尔泰</td>
            <td th:text="${register.intro_phone}">13243545</td>
            <td th:text="${register.ct_date}">示范分队</td>
        </tr>
    </table>
<div>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
</html>