<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <!--<link href="/bootstrap.min.css" rel="stylesheet" />
    <link href="/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/font-awesome.min.css" />
    &lt;!&ndash; 下拉框 &ndash;&gt;
    <link rel="stylesheet" href="/chosen.css" />
    <link rel="stylesheet" href="/ace.min.css" />
    <link rel="stylesheet" href="/ace-responsive.min.css" />
    <link rel="stylesheet" href="/ace-skins.min.css" />
    &lt;!&ndash;<script type="text/javascript" src="static/js/jquery-1.7.2.js"></script>&ndash;&gt;
    <script type="text/javascript" src="/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/jquery-form.js"></script>
    &lt;!&ndash;提示框&ndash;&gt;
    <script type="text/javascript" src="/jquery.tips.js"></script>
    <script type="text/javascript" src="/chosen.jquery.min.js"></script>-->
</head>
<!--<script type="application/javascript">
    $(top.hangge());
    function change(){
        /* $("#excel").val($("#lefile").val()); */
        //因为得不到上传文件在本地的路径名，所以在此只显示选择的文件名
        var fileName='';
        var path=$("#lefile").val();
        var pos1 = path.lastIndexOf('/');
        var pos2 = path.lastIndexOf('\\');
        var pos  = Math.max(pos1, pos2)
        if( pos<0 ){
            fileName=path;
        }else{
            fileName=path.substring(pos+1);
        }
        $("#excel").val(fileName);
    }
    function save() {
        //验证是否选择
        if ($("#excel").val() == "") {

            $("#excel").tips({
                side : 3,
                msg : '请选择文件',
                bg : '#AE81FF',
                time : 2
            });
            $("#excel").focus();
            return false;
        }
        if($("#excel").val().indexOf(".xls")==-1){
            $("#excel").tips({
                side : 3,
                msg : '请选择excel文件',
                bg : '#AE81FF',
                time : 2
            });
            $("#excel").focus();
            return false;
        }
        $("#doForm").ajaxSubmit({
            url : "/introducerController/excelImport?",
            type : "post",
            dataType : "json",
            success : function(data) {
                if (data == "1") {
                    alert("导入数据成功！");
                    top.Dialog.close();
                } else if(data=="2"){
                    alert("保存失败!");
                }
            }
        });
    }
</script>-->
<body>
<!--<form id="doForm" action="/introducerController/excelImport"
      method="post" enctype="multipart/form-data">
    <div id="zhongxin">
        <table align="center">
            <tr>
                <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
            </tr>

            <tr>
                <td><input type="file" style="display:none" id="lefile" name="file" onchange="change()"></td>
            </tr>

            <tr>

                <td>
                    <div class="input-append">
                        <input id="excel" class="input-large" type="text" name="excel"
                               style="height:30px" readonly="readonly">
                        <a class="btn btn-success" onclick="$('#lefile').click();">选择Excel文件</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center;"><a
                        class="btn btn-mini btn-primary" onclick="save();">确定</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-mini btn-danger" onclick="top.Dialog.close();">取消</a>
                </td>
            </tr>
        </table>
    </div>
</form>-->
</body>
</html>