<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>报名人员管理</title>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <script src="/js/npm.js"></script>

    <script src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/js/jquery-form.js"></script>
    <!-- 弹窗组件-->

    <script src="/js/zDrag.js"></script>
    <script src="/js/zDialog.js"></script>
    <script src="/js/jquery.tips.js"></script>
    <style type="text/css">
        #export{
            width:50px;
        }
        #filter{
            display:none;
            position: absolute;
            top:0%;
            left:0%;
            width:100%;
            height: 100%;
            background: #b1bac1;
            z-index: 1001;
            -moz-opacity: 0.5;
            opacity: .50;
            filter: alpha(opacity=50);
        }
        #show{
            display:none;
            position: absolute;
            top:18%;
            left:30%;
            width:30%;
            height:35%;
            padding:8px;
            border:8px solid #E8E9F7;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
    </style>



</head>
<script type="text/javascript">
    $(function(){
        var choose=$("#content").html();
        $(".option").each(function(){
            if($(this).html()==choose){
                $(this).prop("selected","selected");
                return;
            }
        });
        $("#goPage").click(function(){
            var pageno=$("#toGoPage").val();
            if(pageno==""){
                window.location.href = "/introducerController/findAll?pageno=1";
            }else{
                window.location.href = "/introducerController/findAll?pageno="+pageno;
            }

        });
        $("#headPage").click(function(){
            window.location.href = "/introducerController/findAll?pageno=1";
        });
        $("#next").click(function(){

            var pageno =Number($("#nowpage").html())+1;
            if($("#totalPage").html()>=pageno){
                window.location.href = "/introducerController/findAll?pageno="+pageno;
            }else{
                window.location.href = "/introducerController/findAll?pageno="+(pageno-1);
            }
        });
        $("#up").click(function(){

            var pageno =Number($("#nowpage").html())-1;
            if(pageno>=1){
                window.location.href = "/introducerController/findAll?pageno="+pageno;
            }else{
                window.location.href = "/introducerController/findAll?pageno=1";
            }
        });
        $(".option").click(function(){
            var pageSize = $("#pageSize").val();
            window.location.href = "/introducerController/findAll?pageSize="+pageSize;
        });
        $("#export").click(function(){
            $("#filter").css({"display":"block"});
            $("#show").css({"display":"block"});
        });

    });
</script>
<script type="text/javascript">
    function change(){
        $("#excel").val($("#lefile").val());
        var fileName = "";
        var path = $("#lefile").val();
        var pos1 = path.lastIndexOf("/");
        var pos2 = path.lastIndexOf("\\");
        var pos = Math.max(pos1, pos2);
        if(0 > pos){
            fileName=path;
        }else{
            fileName=path.substring(pos+1);
        }
        $("#excel").val(fileName);
    }
    function save() {
        //验证是否选择
        if ($("#excel").val() == "") {

            $("#excel").tips({
                side : 3,
                msg : '请选择文件',
                bg : '#AE81FF',
                time : 2
            });
            $("#excel").focus();
            return false;
        }
        if($("#excel").val().indexOf(".xls")==-1){
            $("#excel").tips({
                side : 3,
                msg : '请选择excel文件',
                bg : '#AE81FF',
                time : 2
            });
            $("#excel").focus();
            return false;
        }
        $("#doForm").ajaxSubmit({
            url : "/introducerController/excelImport",
            type : "post",
            dataType : "json",
            success : function(data) {
                if (data == "1") {
                    alert("导入数据成功！");
                    window.location.href="/introducerController/findAll"
                } else if(data=="2"){
                    alert("保存失败!");
                }
            }
        });
    }
    function remove(){
        $("#filter").css({"display":"none"});
        $("#show").css({"display":"none"});
    }
</script>
<body>
    <div style="overflow: auto;height: 60px;border-bottom: 1px solid silver">
        <input type="button" value="上传推荐人" id="export" style="margin-top: 20px;width: 95px;" class="btn"/>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th><th>姓名</th><th>手机号</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="register:${registers}">
            <td th:text="${register.number}"></td>
            <td th:text="${register.intro_name}"></td>
            <td th:text="${register.intro_phone}"></td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">

        <ul>
            <!--<li><a href="#">&laquo;</a></li>-->
            <li><a>共<span style="color:red;" th:text="${count}">1</span>条</a></li>
            <li><input type="number" id="toGoPage" style="width:50px;text-align:center;float:left" placeholder="页码"/></li>
            <li style="cursor:pointer;background-color: #3e8f3e"><a onclick="send()" id="goPage">跳转</a></li>
            <li style="cursor:pointer;"><a id="headPage">首页</a></li>
            <li style="cursor:pointer;"><a id="up">上页</a></li>
            <li><a><span style="color:#808080;" th:text="${currentPage}" id="nowpage"></span></a></li>
            <li style="cursor:pointer;"><a id="next">下页</a></li>
            <li><a>第<span th:text="${currentPage}">2</span>页</a></li>
            <li><a>共<span th:text="${totalPage}" id="totalPage">1</span>页</a></li>
            <li>
                <select title='显示条数' style="width:55px;float:left;" id="pageSize">
                    <option th:text="5"  class="option">5</option>
                    <option th:text="10"  class="option">10</option>
                    <option th:text="15"  class="option">15</option>
                    <option th:text="20" class="option">20</option>
                </select><span th:text="${pageSize}" id="content" style="display: none"></span>
            </li>
        </ul>

    </div>
    <div id="filter">

    </div>
    <div id="show">
        <form id="doForm" action="/introducerController/excelImport"
              method="post" enctype="multipart/form-data">
            <div id="zhongxin">
                <table align="center">
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>

                    <tr>
                        <td><input type="file" style="display:none" id="lefile" name="file" onchange="change()"/></td>
                    </tr>

                    <tr>

                        <td>
                            <div class="input-append">
                                <input id="excel" class="input-large" type="text" name="excel"
                                       style="height:25px" readonly="readonly"/>
                                <a class="btn btn-success" onclick="$('#lefile').click();" style="height:25px">选择Excel文件</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><a
                                class="btn  btn-primary" onclick="save();">确定</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn  btn-danger" onclick="remove();">取消</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>