<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>报名</title>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/jquery.tips.js"></script>
    <script type="text/javascript">
        function severCheck(){
            if(check){
                var phone = $("#phone").val();
                var experience_card = $("#experience_card").val();
                var meal_sort = $("#meal_sort").val();
                alert("df");
                $.ajax({
                    type : "POST",
                    url : "/joinController/join",
                    data :{"phone":phone,"experience_card":experience_card,"meal_sort":meal_sort},
                    success : function(data) {
                        if (data == "true") {
                            alert("报名成功！");
                        }else if(data == "exist"){
                            alert("已经参加了此活动！");
                        }else{
                            alert("报名失败！");
                        }
                    }
                },"text");
            }

        }
        //客户端校验
        function check() {
            if ($("#meal_sort").val() == "") {

                $("#meal_sort").tips({
                    side: 3,
                    msg: '验证码不得为空',
                    bg: '#AE81FF',
                    time: 1
                });

                $("#name").focus();
                return false;
            }


            return true;
        }
    </script>
</head>
<body>
    <h4>报名体检</h4>
    <form action="" method="post">
        <table>
            <tr>
                <td>手机号:</td><td><input type="text" name="phone" th:value="${phone}" readonly="readonly" id="phone"/></td>
            </tr>
            <tr>
                <td>体验卡卡号:</td><td><input type="text" name="experience_card" id="experience_card"/></td>
            </tr>

            <tr>
                <td>套现类别:</td><td><input type="text" name="meal_sort" id="meal_sort"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" value="提交报名" onclick="severCheck()"/></td>
            </tr>
        </table>
    </form>
</body>
</html>